h1 {
    font-size: 50px;
    text-align: center;
}

.boxes {
    text-align: center; 
    line-height: 150px;
    font-size: 75px; 
}

#div1, #div2, #div4, #div5, #div7, #div8 {
    border-right: solid 5px black; 
}

#div1, #div2, #div3, #div4, #div5, #div6 {
    border-bottom: solid 5px black; 
}

#boardContainer{
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    width: 450px;
    height: 450px;
    margin: auto;
    background: rgb(255, 255, 255);
}

.col {
    background-color: aqua;
    height: 400px;
}

.cell{
    width: 150px;
     height: 150px
}

.playernames{
    margin-bottom: 10px;
    display: flex;
    width: 100;
    justify-content: center;
    text-align: center;
    background-color: lightblue;

}
input{
    margin: 10px;
}